@font-face{
    font-family: cabin;
    src: url('./fonts/Cabin-Medium.ttf');
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: cabin;
}
a{
    text-decoration: none;
}

.container_fluid{
    width: 93%;
    margin: auto;
}
.container-fluid{
    width: 90%;
    margin: auto;
}
.container{
    width: 80%;
    margin: auto;
}
/* ========style part start here======== */
.header{
    position: relative;
}
.header_menu{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    padding: 5px 40px;
    background-color: #fff;
    border-bottom: 4px solid #ffedd1;
}
.header_menu .logo{
    width: 20%;
}
.header_menu .logo img{
    height: 70px;
}
.header_menu .menu{
    width: 55%;
}
.header_menu .header_btn{
    width: 25%;
    text-align: center;
}
.header_menu .menu ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
}
.header_menu .menu ul li a{
    padding: 8px 12.3076923077px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: orange
}
.header_menu .menu ul li .active{
    color: orange !important;
    background: #ffedd1;
    border-radius: 6px;
}
.header_menu .menu ul li a:hover{
    color: blue;
}
.header_menu .header_btn a{
    background: linear-gradient(to right top,#ffea51,#ffcb46,#ffb65f);
    color: #4c3b17;
    padding: 10px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    margin-right: 5px;
}
.header_menu .header_btn2{
    display: none;
}
.header_menu .header_btn2 a img{
    width: 35px;
    margin-right: 10px;
}
.header_menu .header_btn a:nth-child(2){
    background: linear-gradient(to left top,#a34ffe,#9448fd,#8440fc,#713afc,#5a34fb);
    color: #fff;
}
.header_menu .header_btn a:nth-child(1):hover{
    box-shadow: 4px 4px 0px #a34ffe;
}
.header_menu .header_btn a:nth-child(2):hover{
    box-shadow: 4px 4px 0px #f8cc3b;
}
.bar_icon{
    position: relative;
    width: 10%;
    text-align: right;
    display: none;
}
.bar_icon i{
    position: absolute;
    top: -18px;
    font-size: 25px;
    padding: 8px;
    right: 20px;
    color: orange;
    padding: 8px 12px;
    background-color: #f8d69f;
}
.bar_icon i:nth-child(2){
    padding: 8px 15px;
    opacity: 0;
    visibility: hidden;
}
/* ==============Banner Section style here ============*/
.banner{
    padding: 100px 0;
}
.banner_content{
    margin-top: 70px;
    text-align: center;
}
.banner_content h1{
    margin-bottom: 32px;
    font-size: 40px;
    line-height: 55px;
    color: #323F52;
    width: 60%;
    margin: auto;
}
.banner_content p{
    font-size: 16px;
    color: #515151;
    line-height: 32px;
    width: 55%;
    margin: 20px auto;
}
.banner_btn a{
    overflow: hidden;
}
.banner_btn a:focus{
    outline: none;
}
.banner_content .banner_btn a:nth-child(1){
    display: inline-block;
    margin-top: 50px;
    padding: 17px 32px;
    background: linear-gradient(to right top,#ffea51,#ffcb46,#ffb65f);
    color: #4c3b17;
    text-align: center;
    border-radius: 200px;
    font-weight: 600;
    transition: .2s;
    margin-right: 15px;
    
}
.banner_content .banner_btn a:nth-child(1):hover{
    background: linear-gradient(to right top,#f0862f,#f19035,#f77e39);
    color: #fff;
}
.banner_content .banner_btn a:nth-child(2){
    color: #4c3b17;
    display: inline-block;
    border: 1px solid #8440fc;
    margin-top: 50px;
    padding: 17px 32px;
    text-align: center;
    border-radius: 200px;
    font-weight: 600;
    position: relative;
    transition: .3s;
}
.banner_content .banner_btn a:nth-child(2)::after{
    content: "";
    display: block;
    width: 0;
    height: 100%;
    background: linear-gradient(to left top,#a34ffe,#9448fd,#8440fc,#713afc,#5a34fb);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 200px;
    z-index: -222;
    transition: .4s;
}
.banner_content .banner_btn a:nth-child(2):hover{
    color: #fff;
}
.banner_content .banner_btn a:nth-child(2):hover::after{
    width: 100%;
    
}
.banner_content_image{
    position: relative;
    margin-top: 30px;
}
.banner_content_image img{
    max-width: 100%;
    display: block;
    margin-left: auto;
}
/* ==============Banner Section style end here ============*/

/* ==============special Section style start here ============*/
.why_helgaInu{
    padding: 50px 0;
    background-color: #fff;
}
.why_helgaInu h1{
    text-align: center;
    font-size: 36px;
    font-weight: normal;
    color: #323F52;
    margin-bottom: 10px;
}
.why_helgaInu p{
    text-align: center;
    width: 70%;
    font-size: 16px;
    color: #515151;
    line-height: 32px;
    line-height: 30px;
    margin: 20px auto;
}
.special_section_content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3%;
}
.special{
    border: 1px solid #ffedd1;
    margin-top: 50px;
    padding: 20px;
}
.special .special_1{
    text-align: center;
    margin-top: 20px;
}
.special .special_1 h3{
    font-weight: normal;
    color: #343F52;
    margin-bottom: 10px;
    font-size: 30px;
}
.special .special_1 p{
    width: 100%;
}

/* ==============special Section style end here ============*/

/* ==============feature Section style start here ============*/
.feature_section{
    padding: 100px 0;
}
.feature_section h1{
    text-align: center;
    font-size: 36px;
    font-weight: normal;
    color: #343f52;
    margin-bottom: 10px;
}
.feature_section p{
    text-align: center;
    width: 70%;
    margin: 20px auto;
    color: #343f52;
    font-size: 16px;
    line-height: 30px;
}
.service_content_item{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;
    margin-top: 100px;
}
.service{
    overflow: hidden;
    width: 31%;
}
.service .service_img{
    padding: 60px 40px;
    border: 1px solid #eee;
    border-radius: 10px 10px 0 0;
    border-bottom: none;
}
.service .service_img img{
    display: block;
    margin: auto;
    height: 150px;
}
.service .service_content{
    padding: 30px;
    background-color: #ffedd1;
    border-radius: 0px 0px 10px 10px;
}
.service_content_title{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.service .service_content span{
    color: #4c3b17;
    font-size: 30px;
    margin-right: 20px;
}
.service .service_content a{
    padding: 8px 16px;
    background-color: #fadeb0;
    border-radius: 4px;
    color: #4c3b17;
    font-size: 12px;
    display: inline-block;
    font-weight: 600;
}
.service .service_content a img{
    margin-right: 10px;
}
.service_content p{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #717171;
    width: 100%;
    text-align: left;
}
.service_content p strong{
    color: #f6A429;
}
.service_content p small{
    color: #717171 !important;
    font-size: 22px;
}
.service_content button{
    padding: 17px 32px 15px;
    border-radius: 200px;
    background: linear-gradient(to left top,#a34ffe,#9448fd,#8440fc,#713afc,#5a34fb);
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.service_content button:hover{
    background: rgb(45, 102, 225);
}

/* ==============feature Section style end here ============*/


/* ==============benifit Section style start here ============*/
.benifit_helgainu{
    padding: 100px 0;
    background-color: #ffedd1;
}
.benifit_helgainu h1{
    text-align: center;
    color: #343f52;
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 10px;
}
.benifit_helgainu p{
    width: 70%;
    margin: 10px auto;
    text-align: center;
    font-size: 16px;
    color: #717171;
    line-height: 30px;
}
.benifit_helgainu .quick_guid p{
    text-align: left;
    margin-left: 0;
}
.guid_section{
    padding: 70px;
    background-color: #fff;
    margin-top: 50px;
    border-radius: 4px;
}
.guid_content_item{
    display: grid;
    grid-template-columns: 20% 75%;
    grid-column-gap: 3%;
    border-bottom: 1px solid #f8d69f;
    padding-bottom: 50px;
    margin-bottom: 50px;
}
.guid_content_item .guid{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #f7dbaf;
    color: #717171;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
}
.quick_guid h3{
    font-size: 30px; 
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #323F52;
}
.quick_guid p{
    font-size: 18px;
    line-height: 30px;
    color: #717171;
    width: 80%;
}
.quick_guid h3::before{
    content: "";
    display: block;
    width: 110px;
    height: 2px;
    background-color: #713afc;
    position: absolute;
    top: 50%;
    left: -90px;
    transform: translate(-50%, -50%); 
}
.item1{
    border-bottom:  none;
    margin-bottom: 0;
    padding-bottom: 0;
}



/* ==============benifit Section style end here ============*/

/* ==============toconomics Section style start here ============*/
.toconomics_section{
    padding: 80px 0;
    background-color: #fff;
}
.toconomics_section h1{
    color: #323F52;
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 20px;
    text-align: center;
}
.toconomics_section p{
    color: #717171;
    line-height: 30px;
    font-size: 18px;
    width: 90%;
    margin: auto;
}
/* ==============toconomics Section style end here ============*/

/* ==============roadmap Section style end here ============*/
.road_map_section{
    padding: 100px 0;
    background-color: #fff;
}
.road_map_section h1{
    text-align: center;
    font-size: 36px;
    color: #323F52;
    margin-bottom: 10px;
    font-weight: normal;
}
.road_map_section p{
    width: 70%;
    margin: auto;
    font-size: 16px;
    color: #717171;
    text-align: center;
    line-height: 30px;
}
.road_map{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 100px;
}
.road_map_content_item{
    width: 23%;
    box-shadow: 0px 0px 4px 1px #ffedd1;
    padding: 15px;
    border-radius: 4px;
}
.road_map_content_item .road_1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #713afc;
    color: #fff;
    font-weight: 600;
    text-align: center;
    font-size: 25px;
    line-height: 48px;
    margin: auto;
}

.road_map_content_item h4{
    text-align: center;
    color: #f0862f;
    font-size: 25px;
    font-weight: normal;
    margin-top: 10px;
}
.road_map_content_item .road_map_content{
    margin-top: 20px;
}
.road_map_content_item .road_map_content p{
    text-align: left;
    width: 100%;
    margin-left: 0;
    font-size: 15px;
}
.road_map_content_item .road_map_content p i{
    margin-right: 10px;
    color: #5a34fb;
    font-size: 20px;
}

/* ==============roadmap Section style end here ============*/

/* ==============How to buy Section style start here ============*/

.how_to_buy{
    background-color: #fff;
    padding: 100px 0;
}
.how_to_buy .how_to_buy_content_item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4%;
}
.buy_image img{
    width: 75%;
    display: block;
    margin: auto;
}
.youtube_icon{
    margin-top: 40px;
}
.buy_image .youtube_link{
    width: 50%;
    margin: 10px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.buy_image .youtube_link img{
    display: inline-block;
    width: 35px;
    margin-left: 0;
}
.buy_image .youtube_link a{
    font-size: 14px;
    font-weight: 500;
}
.buy_image .youtube_link a:hover{
    color: #4c3b17;
}
.buy_content h4{
    color: #f6A429;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
}
.buy_content h2{
    color: #343f52;
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 20px;
}
.buy_content p{
    font-size: 19px;
    color: #717171;
    line-height: 30px;
    margin-bottom: 30px;
}
.buy_content h3{
    font-size: 19px;
    color: #717171;
    font-weight: normal;
}
.buy_content .buy_btn{
    margin-top: 50px;
}
.buy_content .buy_btn a{
    padding: 14px 24px;
    background: linear-gradient(to right top,#ffea51,#ffcb46,#ffb65f);
    color: #4c3b17;
    border-radius: 4px;
    font-weight: 500;
    margin-right: 20px;
}
.buy_content .buy_btn a:hover{
    box-shadow: 4px 4px 0px #8440fc;
}
/* ==============How to buy Section style end here ============*/

/* ==============footer Section style start here ============*/
.footer_section{
    padding: 50px 0 100px 0;
    text-align: center;
    background-color: #f7f5f5;
}
.footer_section h1{
    color: #323F52;
    font-weight: normal;
    font-size: 36px;
    margin-bottom: 20px;
    margin: auto;
}
.footer_section a{
    display: inline-block;
    margin-top: 30px;
    padding: 12px 20px;
    background: linear-gradient(to left top,#a34ffe,#9448fd,#8440fc,#713afc,#5a34fb);
    color: white;
    font-size: 20px;
    border-radius: 4px;
}
.social_icon{
    margin-top: 40px;
}
.social_icon i{
    font-size: 25px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #45b2dd;
    color: #fff;
    line-height: 30px;
    padding: 5px;
    margin-right: 10px;
}
.social_icon a{
    background: transparent !important;
    padding: 0;
}
/* ==============footer Section style end here ============*/
